<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="main.css"/>
	<title>YBlog</title>
</head>
<body>
	<div id="title">
		<h1>YBlog</h1>
	</div>
	<div id="main">
		<div id="posts">
			<p>
			{{#Posts}}
			- <a href="{{Id}}.html">{{Name}}</a> ({{Short}})<br>
			{{/Posts}}
			</p>
			<p>
			<em>{{PageCannon}}/{{NPages}}</em>
			</p>
			<p>
			{{#HasPrev}}
				<a href="{{Prev}}">&lt; Prev</a>
			{{/HasPrev}}
			{{#Pages}}
				{{#Current}}
					{{Cannon}}
				{{/Current}}
				{{^Current}}
					<a href="{{Link}}">{{Cannon}}</a>
				{{/Current}}
			{{/Pages}}
			{{#HasNext}}
				<a href="{{Next}}">Next &gt;</a>
			{{/HasNext}}
			</p>
		</div>
	</div>
</body>
</html>
