<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>YBlog</title>
	<link rel="stylesheet" type="text/css" href="main.css"/>
</head>
<body>
	<div id="title">
		<h1>YBlog</h1>
	</div>
	<div id="main">
		<div id="content">
			{{#Post}}
			{{{ContentHtml}}}
			{{/Post}}
		</div>
		<div id="author">
			<div class="contact">
			{{#Post}}
			{{#User}}
			<img src="http://www.gravatar.com/avatar/{{Md5Email}}?s=100&r=pg&d=retro"/>
			<p>
			{{Email}}<br>
			{{Name}}<br>
			{{#Misc}}
				<a href="{{Link}}">{{Name}}</a><br>
			{{/Misc}}
			</p>
			{{/User}}
			{{/Post}}
			</div>
		</div>
		<p>
		<a href="/">back to home page</a>
		</p>
	</div>
</body>
</html>
