
body {
	background-color: #f7f7f7;
}

body, body * {
	font-family: courier;
}

#main, div#title {
	width: 800px;
	max-width: 90%;
	margin: auto;
	background-color: white;
	padding: 1em;
}

h1 {
	text-align: center;
	font-size: 1.8em;
}

div#title {
	margin-bottom: .8em;
}

div#title h1 {
	font-size: 2.4em;
}

#author {
	width: 60%;
	background: #f7f7f7;
	padding: 1em;
	margin-top: 2em;
	margin-left: 3em;
}

#author  div.contact {
	height: 100px;
	margin-left: 1em;
}

#author  div.contact p {
	float: left;
	padding-left: 2em;
	margin-top: 39px;
}

#author  div.contact img {
	float: left;
	width: 100px;
	height: 100px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
}

#content p {
	margin-left: 2em;
}

